/* Color of the links BEFORE scroll */

.nav-link{
  font-family: 'Dongle', sans-serif;
  font-family: 'Kanit', sans-serif;
  font-family: 'Poppins', sans-serif;

/* .navbar a{ */
  color:silver;
}

.navbar a:hover{
  color: #5e9693;
}

.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: #4C5958;/*rgba(255, 255, 255, .15);*/
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

.profileIcon {
  border-radius: 50%;
  display: block;
  margin: 0px;
  position: relative;
  height: 32px;
  width: 32px;
  z-index: 0;
}


.navigation i {
  color:tomato;
  font-size: 1.5em;
  width: 10px;
  border-radius: 50px;
  float: left;
}

.logout {
  font-size: 1em;
  color:tomato;
  font-family: 'Oswald', sans-serif;
	position: relative;
  right: -10px;
  bottom: -6px;
  overflow: hidden;
  letter-spacing: 3px;
  opacity: 0;
  transition: opacity .45s;
  -webkit-transition: opacity .35s;
  
}

.navigation .btt {
	float: right;
  margin: 5px;
  color: white;
  width: 40px;
  transition: width .35s;
  -webkit-transition: width .35s;
  overflow: hidden
}

.navigation button:hover {
  width: 150px;
}

.navigation button:hover .logout{
  opacity: .9;
}