/* Color of the links BEFORE scroll */
.nav-link{
  color: #023535;
  font-family: 'Dongle', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Poppins', sans-serif;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .15);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

.profileIcon {
  border-radius: 50%;
  display: block;
  margin: 0px;
  position: relative;
  height: 32px;
  width: 32px;
  z-index: 0;
}