@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [id="role"] {
        margin-top: -200px;
    }
    [id="saveButton"] {
        margin-top: 60px;
    }
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

#image {
    opacity: 1;
    display: block;
    width: 150px;
    height: 160px;
    transition: .5s ease;
    backface-visibility: hidden;
}

#middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid grey;
    background-color: white;
    border-radius: 5px;
}

.img:hover #image {
    opacity: 0.3;
}

.img:hover #middle {
    opacity: 1;
}