@media only screen and (max-width: 576px) {
  /* For mobile phones: */
  [class="medicineButton"] {
    margin-top: 44px;
  }
  [class="companyButton"] {
    margin-top: 120px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 766px) {
  /* For mobile phones: */
  [class="medicineButton"] {
    margin-top: 5px;
  }
  [class="companyButton"] {
    margin-top: 75px;
  }
}

@media only screen and (min-width: 766px) and (max-width: 992px) {
  /* For mobile phones: */
  [class="medicineButton"] {
    margin-top: 5px;
  }
  [class="companyButton"] {
    margin-top: 48px;
  }
}

.filter {
   &__menu {
     margin: 0.125rem auto;
   }
 
   &__option {
     background-color: white;
 
     &--is-focused {
       background-color: lightblue;
     }
   }
 
   &__group {
     padding: 0;
   }
 
   &__menu-portal {
     border: 1px solid darkblue;
   }
 }